/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../compass/sass/base.scss */
body {
  background: white url(../images/bg.pattern.white.png);
  margin: 0;
  font-family: sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
}

/* line 16, ../compass/sass/base.scss */
article, section, header, footer, nav, aside {
  display: block;
}

/* line 20, ../compass/sass/base.scss */
a {
  color: #BC522B;
}
/* line 23, ../compass/sass/base.scss */
a:hover {
  color: #924022;
}

/* line 27, ../compass/sass/base.scss */
#header {
  background: black url(../images/bg.pattern.black.png);
  border-top: 7px solid #F59331;
  border-bottom: 1px solid #fff;
}
/* line 31, ../compass/sass/base.scss */
#header h1 {
  margin: 0;
}

/* line 36, ../compass/sass/base.scss */
#header-inner {
  padding: 10px 0;
  width: 940px;
  margin: 0 auto;
  position: relative;
  height: 60px;
}

/* line 44, ../compass/sass/base.scss */
.blog-header {
  padding: 30px 0 20px;
  margin-bottom: 30px;
  background-color: rgba(221, 221, 221, 0.3);
  border-bottom: 1px solid rgba(221, 221, 221, 0.8);
  position: relative;
}
/* line 51, ../compass/sass/base.scss */
.welcome-index .blog-header {
  display: none;
}
/* line 55, ../compass/sass/base.scss */
.blog-header h1 {
  max-width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  color: #D6751D;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 1px white;
}
/* line 66, ../compass/sass/base.scss */
.blog-header h1 a {
  color: #D6751D;
  text-decoration: none;
}

/* line 74, ../compass/sass/base.scss */
#main {
  width: 940px;
  margin: 0 auto 40px;
  position: relative;
  overflow: hidden;
  *zoom: 1;
}

/* line 88, ../compass/sass/base.scss */
#menu {
  font-size: 18px;
  position: absolute;
  left: 270px;
  top: 30px;
}
/* line 94, ../compass/sass/base.scss */
#menu ul {
  display: inline;
  padding: 0;
}
/* line 99, ../compass/sass/base.scss */
#menu li {
  display: inline;
  margin: 0 40px 0 0;
}
/* line 105, ../compass/sass/base.scss */
#menu a {
  color: #E5E5E5;
  text-decoration: none;
}
/* line 109, ../compass/sass/base.scss */
#menu a:hover {
  color: #F7941E;
}

/* line 115, ../compass/sass/base.scss */
#menu .current a {
  color: #F7941E !important;
}

/* line 119, ../compass/sass/base.scss */
#login-menu {
  color: #F7941E;
  position: absolute;
  right: 10px;
  top: 16px;
}
/* line 125, ../compass/sass/base.scss */
#login-menu a {
  color: #F7941E;
}
/* line 128, ../compass/sass/base.scss */
#login-menu a:hover {
  color: #0DA882;
}

/* line 134, ../compass/sass/base.scss */
footer#colophon {
  display: none;
}

/* line 137, ../compass/sass/base.scss */
nav#access {
  display: none;
}

/* line 140, ../compass/sass/base.scss */
#site-description {
  display: none;
}

/* line 145, ../compass/sass/base.scss */
.page-title, .entry-title {
  color: #D6751D;
  font-size: 24px;
}

/* line 150, ../compass/sass/base.scss */
.post {
  margin: 40px 0;
  background-color: #fff;
  padding: 30px 30px;
  border: 1px solid #ccc;
  color: #444;
}
/* line 158, ../compass/sass/base.scss */
.post h1 {
  color: #D6751D;
  font-size: 18px;
  margin: 0 0 30px;
}
/* line 162, ../compass/sass/base.scss */
.post h1 a {
  text-decoration: none;
  border-bottom: 1px dotted #D6751D;
}
/* line 166, ../compass/sass/base.scss */
.post h1 a:hover {
  border-bottom: 1px solid #D6751D;
}
/* line 172, ../compass/sass/base.scss */
.post h2 {
  font-size: 24px;
  margin: 30px 0 10px;
  font-weight: bold;
}
/* line 177, ../compass/sass/base.scss */
.post h3 {
  font-size: 18px;
  margin: 20px 0 10px;
  font-weight: bold;
}
/* line 182, ../compass/sass/base.scss */
.post p, .post li {
  line-height: 1.35;
}
/* line 186, ../compass/sass/base.scss */
.post ul li {
  list-style-type: square;
  margin: 10px 0 10px 30px;
}

/* line 197, ../compass/sass/base.scss */
.entry-meta {
  font-size: 13px;
  color: #999;
}

/* line 202, ../compass/sass/base.scss */
.widget-title {
  color: #4F5E67;
}

/* line 207, ../compass/sass/base.scss */
.widget h1 {
  margin: 20px 0 10px;
}
/* line 211, ../compass/sass/base.scss */
.widget ul {
  padding: 0;
  margin: 10px 0;
}
/* line 215, ../compass/sass/base.scss */
.widget li {
  display: block;
  margin: 10px 0;
  font-size: 13px;
  line-height: 1.25;
  border-top: 1px solid #DFBC9A;
  padding: 15px 0 0;
  min-height: 30px;
}
/* line 225, ../compass/sass/base.scss */
.widget h3 {
  margin: 0px;
}
/* line 227, ../compass/sass/base.scss */
.widget h3 a {
  color: #D6751D;
  text-decoration: none;
}
/* line 231, ../compass/sass/base.scss */
.widget h3 a:hover {
  color: #a95c17;
}
/* line 238, ../compass/sass/base.scss */
.widget p {
  margin: 5px 0 10px;
  color: #999;
  font-size: 13px;
}
/* line 243, ../compass/sass/base.scss */
.widget a {
  text-decoration: none;
}
/* line 4, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
.widget a:hover {
  text-decoration: underline;
}

/* line 250, ../compass/sass/base.scss */
#categories h3 {
  padding-left: 20px;
  background: url(../images/icon.tag.png) no-repeat left center;
}

/* line 257, ../compass/sass/base.scss */
.archive .entry-content, .archive .entry-meta {
  display: none;
}

/* line 261, ../compass/sass/base.scss */
.archive article {
  margin: 5px 0;
  padding: 10px;
}
/* line 264, ../compass/sass/base.scss */
.archive article h1 {
  font-size: 18px;
  margin: 10px;
}

/* line 270, ../compass/sass/base.scss */
.page-title {
  padding: 3px 10px 3px 40px;
  background: url(../images/icon.tag.24.png) no-repeat left center;
}

/* line 279, ../compass/sass/base.scss */
.post-blog {
  border-color: #E8DFCF;
  background-color: #F8F4ED;
  background: rgba(255, 245, 227, 0.4) url(../images/icon.doc.png) 10px 10px no-repeat;
}
/* line 284, ../compass/sass/base.scss */
.post-blog h1 {
  font-size: 24px;
}

/* line 290, ../compass/sass/base.scss */
.waveface-blog .page-title {
  display: none;
}
